<body>
    <div class="container-login">
        <div class="header">
          <h3>LOGIN</h3>  
        </div>
        <form>
            <div class="input-group">
                <input type="text" placeholder=" ">
                <label>Usuario</label>
            </div>

            <div class="input-group">
                <input type="password" placeholder=" ">
                <label>Contraseña</label>
            </div>

            <button type="submit">Enviar</button>
        </form>

        <nav>
            <button [routerLink]="['/auth/register']">¿No tienes cuenta? Crea una</button>
            <br>
            <button [routerLink]="['/chatbot']">Ahora no</button>
        </nav>
    </div>
    <div class="imagen">
        <img src="/assets/image/img-doc.jpg" alt="">
    </div>
</body>
