<div id="contenedor-principal">
  <div class="contenedor-login">
    <h1 class="titulo-label">MASCOTAPP</h1>

    <div class="input-group">
      <label for="email">Email</label>
      <input id="email" type="email" required>
    </div>

    <div class="input-group">
      <label for="password">Contraseña</label>
      <input id="password" type="password" required>
    </div>

    <button class="send-user">Ingresar</button>

    <div class="links">
      <a [routerLink]="['/auth/register']">Registrarse</a>
      <a [routerLink]="['/menu']">Menu</a>
    </div>
  </div>
</div>
