body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
    background: linear-gradient(to right, #8EC5FC, #E0C3FC); 
}

#contenedor-principal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px;
}

.contenedor-login {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 20px;
  padding: 40px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.18);
  text-align: center;
  color: #000;
}

.titulo-label {
  font-size: 32px;
  margin-bottom: 30px;
  color: #ffffff;
}

.input-group {
  position: relative;
  margin-bottom: 25px;
}

.input-group input {
  width: 100%;
  padding: 12px 10px;
  border: none;
  border-radius: 8px;
  outline: none;
  background-color: white;
  font-size: 16px;
  color: black;
  transition: background-color 0.3s ease-in-out;
}

.input-group input:hover {
  background-color: #e0f7fa;
}

.input-group label {
  position: absolute;
  top: -12px;
  left: 10px;
  font-size: 14px;
  background: none;
  padding: 0 5px;
  padding-bottom: 10px;
  color: #000;
}

.send-user {
  width: 100%;
  padding: 12px;
  background-color: #1976d2;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.send-user:hover {
  background-color: #155a9d;
}

.links {
  margin-top: 20px;
}

.links a {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
}

.links a:hover {
  text-decoration: underline;
}

.error {
  color: red;
  font-size: 0.8rem;
  margin-top: 4px;
}
