body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #fff;
}
  
.container-registro {
  background: #ffffff;
  color: #333;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  height: 480px;
  width: 500px;
}
  
.header h3 {
  text-align: center;
  margin-left: 5px;
  margin-bottom: 1.5rem;
  font-size: 2rem;
  color: #ff640a;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
}
  
form {
  display: flex;
  flex-direction: column;
  width: 105%;
}
  
.input-group {
  position: relative;
  margin-bottom: 1rem;
  width: 95%;
}
  
.input-group label {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  font-size: 1rem;
  color: #888;
  transition: 0.3s ease-in-out;
  pointer-events: none;
}
  
.input-group input {
  width: 95%;
  padding: 1rem;
  padding-top: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  outline: none;
  transition: 0.3s ease-in-out;
}
  
.input-group input:focus {
  border-color: #4e54c8;
}
  
.input-group input:focus + label,
.input-group input:not(:placeholder-shown) + label {
  padding-top: 5px;
  top: 0.3rem;
  font-size: 0.8rem;
  color: #4e54c8;
}
  
.error {
  color: red;
  font-size: 0.8rem;
  margin-top: 0.3rem;
}
  
form button {
  background: #4e54c8;
  color: #fff;
  padding: 1rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 2rem;
  width: 98%;
  margin-top: 50px;
}
  
form button:disabled {
  background: #ccc;
  cursor: not-allowed;
}
  
form button:hover:not(:disabled) {
  background: #3b42b3;
}
  
/* Responsivo */
@media (max-width: 768px) {

  .container-registro {
    padding: 1.5rem;
    max-width: 100%;
  }
  
  .header h3 {
    font-size: 1.8rem;
  }

  .input-group {
    width: 90%;
  }

  .imagen img {
    display: none;
  }

  .container-registro {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 300px;
  }

}

nav {
  text-align: center;
}

nav button {
  background: none;
  color: #4e54c8;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  margin: 0.5rem 0;
  text-decoration: underline;
  transition: all 0.3s ease;
}

nav button:hover {
  color: #3b42b3;
}

.imagen {
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagen img {
  height: 578px;
  width: 480px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}