* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

body {
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #147700;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container img {
  width: 50px;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.logo-container .title-header {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
}

.contenedor-login {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 20px;
  padding: 50px;
  width: 100%;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.18);
  text-align: center;
  color: #000;
  margin-top: 70px;
}

.titulo-label {
  font-size: 25px;
  margin-bottom: 30px;
  color: #147700;
  font-weight: bold;
}

.input-group {
  position: relative;
  margin-bottom: 25px;
  width: 300px;
}

.input-group input {
  width: 100%;
  padding: 12px 10px;
  border: none;
  border-radius: 8px;
  outline: none;
  background-color: white;
  font-size: 16px;
  color: black;
  transition: background-color 0.3s ease-in-out;
}

.input-group input:hover {
  background-color: #e0f7fa;
}

.input-group label {
  position: absolute;
  top: -20px;
  left: 10px;
  font-size: 15px;
  background: none;
  padding: 0 5px;
  padding-bottom: 10px;
  color: #000;
}

.send-user {
  width: 100%;
  padding: 12px;
  background-color: #147700;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.send-user:hover {
  background-color: rgb(41, 170, 2);
}

.links {
  margin-top: 20px;
}

.links a {
  color: #147700;
  text-decoration: none;
  font-size: 14px;
}

.links a:hover {
  text-decoration: underline;
}

.error {
  color: red;
  font-size: 0.8rem;
  margin-top: 4px;
}
