<div id="contenedor-principal">
  <div class="contenedor-login">
    <h1 class="titulo-label">Crear Cuenta</h1>

    <div class="input-group">
      <input type="text" required>
      <label>Nombre completo</label>
    </div>

    <div class="input-group">
      <input type="email" required>
      <label>Correo electrónico</label>
    </div>

    <div class="input-group">
      <input type="password" required>
      <label>Contraseña</label>
    </div>

    <div class="input-group">
      <input type="password" required>
      <label>Confirmar contraseña</label>
    </div>

    <button class="send-user">Registrarse</button>

    <div class="links">
      <a [routerLink]="['/auth/login']">¿Ya tienes cuenta? Inicia sesión</a>
    </div>
  </div>
</div>
