<body>
  <div class="container-registro">
      <div class="header">
        <h3>Registrar de Mascota</h3>
      </div>
      <form  (ngSubmit)="onSubmit()">
        <div class="input-group">
          <input
            type="text"
            id="nombre"
            formControlName="nombre"
            placeholder=" "
            required
          />
          <label for="nombre">Nombre</label>
          <div *ngIf="registroForm.get('nombre')?.invalid && registroForm.get('nombre')?.touched" class="error" >
          </div>
        </div>
    
        <div class="input-group">
          <input
            type="text"
            id="raza"
            formControlName="raza"
            placeholder=" "
            required
          />
          <label for="raza">Raza</label>
          <div *ngIf="registroForm.get('raza')?.invalid && registroForm.get('raza')?.touched" class="error">
          </div>
        </div>
    
        <div class="input-group">
          <input
            type="number"
            id="peso"
            formControlName="peso"
            placeholder=" "
            required
          />
          <label for="peso">Peso</label>
          <div *ngIf="registroForm.get('peso')?.invalid && registroForm.get('peso')?.touched" class="error">
          </div>
        </div>
    
        <div class="input-group">
          <input
            type="number"
            id="altura"
            formControlName="altura"
            placeholder=" "
            required
          />
          <label for="altura">Altura</label>
          <div *ngIf="registroForm.get('altura')?.invalid && registroForm.get('altura')?.touched" class="error">
          </div>
        </div>
    
        <button type="submit">Registrar</button>
      </form> 
      <!-- <nav>
          <button [routerLink]="['/auth/login']">Volver</button>
      </nav> -->
  </div>
</body>
