<!-- Contenedor del Encabezado -->
<header>
  <div class="options">
      <div class="back">
         <button mat-icon-button matTooltip="Volver" [routerLink]="['/menu']" class="icon-button blue-icon">
        <mat-icon>arrow_back_ios_new</mat-icon>
        </button>
      </div>
  
      <div class="logo">
          <p>MASCOTAPP</p>   
      </div>

      <!-- <div class="nuevo">
        <button mat-icon-button matTooltip="Nuevo chat" (click)="nuevoChat()" class="icon-button blue-icon">
        <mat-icon>chat</mat-icon>
        </button>
      </div> -->
  </div>
</header>

<div class="seguimiento-container">
  <h2>Seguimiento de Diagnósticos</h2>

  <table mat-table [dataSource]="diagnosticos" class="mat-elevation-z8">

    <!-- Fecha -->
    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef>Fecha</th>
      <td mat-cell *matCellDef="let diag">{{ diag.fecha | date:'short' }}</td>
    </ng-container>

    <!-- Enfermedad / IA -->
    <ng-container matColumnDef="sintomas">
      <th mat-header-cell *matHeaderCellDef>Síntomas</th>
      <td mat-cell *matCellDef="let diag">{{ diag.sintomas }}</td>
    </ng-container>

    <!-- Recomendación -->
    <ng-container matColumnDef="recomendacion">
      <th mat-header-cell *matHeaderCellDef>Recomendación</th>
      <td mat-cell *matCellDef="let diag">{{ diag.recomendacion }}</td>
    </ng-container>

    <!-- Alerta -->
    <ng-container matColumnDef="alerta">
      <th mat-header-cell *matHeaderCellDef>Alerta</th>
      <td mat-cell *matCellDef="let diag">
        <span [ngClass]="getPrioridadClass(diag.prioridad)">
          {{ diag.prioridad | uppercase }}
        </span>
      </td>
    </ng-container>


    <!-- Eliminar -->
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let diag">
        <button mat-icon-button color="warn" (click)="eliminarDiagnostico(diag.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnas"></tr>
    <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
  </table>
</div>

<!-- <div class="chat-container">
    <div class="chat-box">
      <div class="chat-messages" #scrollContainer>
        <div *ngFor="let message of messages" [ngClass]="{ 'user-message': !message.isBot, 'bot-message': message.isBot }">
          <ng-container *ngIf="message.isBot; else userMsg">
            <div class="bot-response" [innerHTML]="formatBotMessage(message.text)"></div>
          </ng-container>
          <ng-template #userMsg>
            <div class="user-response">{{ message.text }}</div>
          </ng-template>
        </div>

        <div class="saludo" *ngIf="messages.length === 0">
          <span>¿En qué te puedo ayudar?</span>
        </div>

        Animación de carga -->
        <!-- <div *ngIf="isBotTyping" class="typing-indicator">
          <span>.</span><span>.</span><span>.</span><span>.</span>
        </div>

      </div>
      <div class="chat-input">
        <textarea [(ngModel)]="userInput" placeholder="Escribe el síntoma"></textarea>
        <button (click)="sendMessage()">➤</button>
      </div>
    </div>
  </div> -->

  <footer>
    <span>ChaPET una app para mascotas</span>
  </footer>

