/* CABECERA */
.fixed {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #003500;
  color: white;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  position: relative;
  transition: margin-left 0.3s ease;
}

.header.menu-open {
  margin-left: 240px;
}

.header.menu-closed {
  margin-left: 0;
}

.app-name {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 22px;
  font-weight: 700;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  color: white;
  margin: 0;
}

.btn-open-menu, .btn-logout {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  padding: 8px;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.btn-open-menu:hover, .btn-logout:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.logout {
  font-size: 24px;
}

.bienvenida {
  font-weight: bold;
  font-size: 15px;
  margin-right: -70%;
  white-space: nowrap;
}

/* MENÚ LATERAL */
.menu-lateral {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 249px;
  background-color: #001f00;
  padding: 1rem;
  color: white;
  z-index: 1000;
  box-shadow: 2px 0 5px rgba(0,0,0,0.3);
  overflow-y: auto;
  transition: transform 0.3s ease;
}

/* Botón cerrar menú */
.btn-close-menu {
  display: block;
  background-color: white;
  color: #1565c0;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 1rem;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.btn-close-menu:hover {
  background-color: #e3f2fd;
}

/* BOTONES DEL MENÚ */
.group-btn a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 0.75rem 1rem;
  margin: 0.3rem 0;
  background-color: #003f00;
  border-radius: 6px;
  text-align: center;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.group-btn a.active,
.group-btn a:hover {
  background-color: #007700;
}

section h2 {
  margin-top: 1rem;
  font-size: 1.1rem;
  font-weight: bold;
}

/* Historial */
/* .historial-item {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  width: 100%;
  text-align: left;
  padding: 6px 10px;
  border-radius: 4px;
  transition: background-color 0.2s ease;
  font-size: 14px;
} */

/* .historial-item:hover,
.historial-item:focus {
  background-color: rgba(255,255,255,0.2);
  outline: none;
} */

/* CONTENEDOR PRINCIPAL */
.main {
  flex: 1;
  transition: filter 0.3s ease-in-out;
  padding: 1rem;
  font-family: 'Comic Sans MS', cursive, sans-serif;
}

.main.main-open {
  filter: blur(1px);
}

.main.menu-closed {
  margin-left: 0;
}

/* .section-title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #444;
} */

.main h2 {
  color: #000000;
  font-weight: bold;
  font-family: 'Comic Sans MS', cursive, sans-serif;
}

.noticias-container {
  padding: 1rem;
}

.noticias-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, mimax(300px, 1fr));
  gap: 1rem;
}

.noticia-card {
  max-width: 100%;
  transition: transform 0.3s;
  background-color: #2d2d2d;
  color: #fff;
}

/* .noticia-card:hover {
  transform: translateY(-5px);
} */

.noticia-card .titulo-noticia {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  text-align: center;
}

mat-card img {
  max-height: 200px;
  width: 100%;
  object-fit: cover;
}

.noticia-card .subtitulo-noticia {
  font-size: 13px;
  color: #ccc;
  text-align: center;
}

.noticia-card .descripcion {
  text-align: center;
}

.noticia-card .accion a {
  text-align: left;
  text-decoration: none;
  color: #fff;
}

.boton-cargar-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 5px;
}

/* Nueva sección informativa */
.info-section {
  background-color: #f7f9fc;
  padding: 40px 20px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.section-title {
  text-align: center;
  font-size: 28px;
  color: #0d47a1;
  margin-bottom: 30px;
  font-weight: bold;
}

.section-title-white {
  color: white;
  text-align: center;
  font-size: 28px;
  margin: 40px 0 20px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}

.submenu-toggle {
  background-color: #007700;
  color: white;
  border: none;
  padding: 10px 12px;
  margin-top: 6px;
  border-radius: 8px;
  font-weight: bold;
  width: 100%;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: background 0.3s;
}

.submenu-toggle:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.submenu {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
}

.submenu a {
  padding: 0.5rem 1rem;
  color: #e3f2fd;
  text-decoration: none;
}

.submenu a:hover {
  background-color: #007700;
}

.boton-principal {
  width: 95%;
  background-color: #1976d2;
  color: white;
  border: none;
  border-radius: 12px;
  padding: 10px 16px;
  margin: 6px auto;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.mascotas-columna {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 10px;
  margin-top: 10px;
}

.mascota-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: none;
  border-radius: 12px;
  padding: 6px 10px;
  border: none;
  transition: background 0.2s ease;
  box-shadow: 1px 8px #0001;
}

.mascota-item:hover {
  background-color: #003800;
}

.mascota-info {
  display: flex;
  align-items: center;
  gap: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
}

.mascota-info span {
  white-space: nowrap;
}

.mascota-delete {
  background: #ff3b30;
  border: none;
  color: white;
  padding: 5px 6px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s;
}

.mascota-delete:hover {
  background: #d32f2f;
}

.mascota-imagen {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #005e0c;
}

.mascota-btn {
  background-color: white;
  color: #1976d2;
  border: 2px solid #1976d2;
  border-radius: 20px;
  padding: 6px 12px;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s;
}

.mascota-btn:hover {
  background-color: #e3f2fd;
}

.card-mascota {
  background-color: white;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 16px;
  padding: 6px 14px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  white-space: nowrap;
}

.card-mascota:hover {
  background-color: #e3f2fd;
  border-color: #64b5f6;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  padding: 16px;
}

.historial-card {
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  padding: 16px;
  width: 250px;
  text-align: center;
  transition: transform 0.3s ease;
}

.historial-card:hover {
  transform: scale(1.03);
}

.imagen-mascota {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 12px;
  border: 2px solid #007bff;
}

.info h4 {
  margin: 4px 0;
  font-size: 1.2em;
  color: #333;
}

.info p {
  color: #666;
  margin-bottom: 12px;
}

.acciones button {
  margin: 0 6px;
  padding: 6px 12px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.acciones button:hover {
  background-color: #0056b3;
}

/* PIE DE PÁGINA */
.footer {
  background-color: #005f00;
  color: white;
  padding: 20px 40px;
  text-align: center;
  margin-top: 40px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: margin-left 0.3s ease;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.footer.menu-open {
  margin-left: 240px;
}

.footer.menu-closed {
  margin-left: 0;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.footer-info p {
  margin: 0;
  font-size: 14px;
}

.footer-social {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.footer-social a img {
  width: 24px;
  height: 24px;
  filter: brightness(0) invert(1);
  transition: transform 0.2s ease;
}

.footer-social a:hover img {
  transform: scale(1.2);
}

.disabled-link {
  pointer-events: none;
  color: grey;
  opacity: 0.6;
  cursor: not-allowed;
  text-decoration: none;
}

/* RESPONSIVO */
@media (max-width: 768px) {
  .header {
    padding: 0 0.5rem;
  }

  .app-name {
    /* position: static; */
    /* transform: none;
    text-align: center;
    width: 100%; */
    font-size: 1.1rem;
    margin-left: -1.5rem;
  }

  .menu-lateral {
    width: 95.4%;
    /* height: 100vh; */
    position: relative;
    box-shadow: none;
    z-index: 1000;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .bienvenida {
    display: none;
  }

  .main {
    margin-left: 0;
  }

  .header.menu-open,
  .footer.menu-open {
    margin-left: 0;
  }
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
}
