<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header class="header">
        <div class="btn-menu-lateral">
            <button class="btn-open-menu">OPEN</button>
        </div>
        <div class="app-name">
            MASCOTAPP
        </div>
        <div class="btn-menu-login">
            <button class="btn-open-login">LOGIN</button>
        </div>

        <aside class="menu lateral" style="display: none;">
            <button class="btn-close-menu">CLOSE</button>
            <div class="group-btn">
                <a href="#">ChatPet</a>
                <a href="#">Diagnostico</a>
                <a href="#">Configuracion</a>
            </div>
            <div class="group-history">
                <!-- HISTORIAL -->
            </div>
        </aside>
    </header>
    <main class="main">
        <div class="contenedor-info">
            <div class="tj-blog">
                <div class="image">
                    <p class="image-text">Agregar imagen</p>
                    <button class="add"></button>
                    <button class="delete"></button>
                </div>
                <div class="add-text">
                    <textarea name="" id=""></textarea>
                </div>
            </div>
        </div>
        <div class="btn-new">
            <button class="btn-new-tj">+</button>
            <p>Nueva Tarjeta</p>
        </div>
    </main>
    <footer class="footer">
        <div class="links">
            <a href="#">links</a>
            <a href="#">links</a>
            <a href="#">links</a>
        </div>
    </footer>
</body>
</html>
