<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header class="header">
        <div class="btn-menu-lateral">
            <button class="btn-open-menu">OPEN</button>
        </div>
        <div class="app-name">
            <h1>MASCOTAPP</h1>
        </div>
        <div class="btn-menu-login">
            <button class="btn-open-login">LOGIN</button>
        </div>

        <aside class="menu lateral">
            <button class="btn-close-menu">CLOSE</button>
            <div class="group-btn">
                <a href="#">ChatPet</a>
                <a href="#">Diagnostico</a>
                <a href="#">Configuracion</a>
            </div>
            <div class="group-history">
                <!-- HISTORIAL -->
            </div>
        </aside>
    </header>
    <main class="main">
        <div class="contenedor-info">
            <div class="tj-blog"></div>
            <button class="btn-new-tj">NUEVO</button>
            <p>Agregar Informacion</p>
        </div>
    </main>
    <footer class="footer">
        <div class="links">
            <a href="#">links</a>
            <a href="#">links</a>
            <a href="#">links</a>
        </div>
    </footer>
</body>
</html>
