* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; 
} 

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #147700;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container img {
  width: 50px;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.logo-container .title-header {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
}

.background {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.login-container {
  width: 100%;
  max-width: 400px;
  padding: 32px;
  border-radius: 16px;
  backdrop-filter: blur(12px);
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  text-align: center;
  color: #000;
}

h2 {
  margin-bottom: 20px;
  color: #147700;
  font-weight: bold;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 24px;
}

.full-width {
  width: 100%;
}

/* === CAMPOS DE TEXTO (EMAIL Y CONTRASEÑA) === */
mat-form-field {
  width: 100%;
  text-decoration: none;
}

mat-form-field .mat-form-field-flex {
  background-color: white !important;
  border-radius: 8px;
  padding: 0 8px;
}

mat-form-field input.mat-input-element {
  background-color: white !important;
  color: #000 !important;
}

mat-form-field input {
  color: black !important;
  background-color: transparent; /* por si hay herencia */
}

mat-form-field.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: white !important;
  border-radius: 8px;
}

.mat-form-field-label,
.mat-placeholder,
mat-label {
  color: black !important;
}

mat-icon {
  color: black !important;
}

/* === BOTÓN DE INICIAR SESIÓN === */
.btn-submit {
  width: 100%;
  font-weight: bold;
  background-color: #147700 !important;
  color: white !important;
  cursor: pointer;
}

.btn-submit:hover {
  background: #1caa00;
}

/* === BOTÓN DE REGISTRO === */
.links {
  margin-top: 24px;
  display: flex;
  justify-content: center;
}

.link-btn {
  text-transform: none;
  color: #147700 !important;
  border-color: #147700 !important;
}

