<!-- <div class="documento" *ngIf="diagnostico">

    <header>
        <h1>Informe de Diagnóstico</h1>
    <span>{{ diagnostico.fecha | date:'fullDate' }}</span>
    </header>

    <section class="mascota">
        <img [src]="diagnostico.mascota.imagen_url || 'assets/pet.png'">
        <div>
            <h2>{{ diagnostico.mascota.nombre }}</h2>
            <p>Raza: {{ diagnostico.mascota.raza }}</p>
            <p>Edad: {{ diagnostico.mascota.edad }} años</p>
        </div>
    </section>

    <section class="diagnostico">
        <h3>Enfermedad Detectada</h3>
        <p>{{ diagnostico.enfermedad }}</p>

        <h3>Prioridad</h3>
        <span class="badge" [ngClass]="diagnostico.prioridad">
            {{ diagnostico.prioridad | uppercase }}
        </span>

        <h3>Recomendación</h3>
        <p class="recomendacion">{{ diagnostico.recomendacion }}</p>
    </section>
</div> -->

