
<section class="info-inicial">
    <div class="mensaje">
        <span>CHATPET</span>
        <br>
        <h2>¡Bienvenido a tu chatbot de confianza!</h2>
    </div>
    <main>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam laudantium reiciendis, nemo quae, aliquid earum consectetur tempore quia ipsam sapiente accusamus excepturi? Earum repellendus nesciunt impedit quidem excepturi necessitatibus rerum.</p>
    </main> 
</section>

<section class="info-paso-01">
    <header>
        <h2>PASO 01</h2>
    </header>
    <main>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro corporis quibusdam molestiae hic dolores, labore veritatis? Reprehenderit animi laboriosam similique reiciendis! Veniam nam, laborum similique minima ipsum earum molestiae velit.</p>
    </main>
</section>

<section class="info-paso-02">
    <header>
        <h2>PASO 02</h2>
    </header>
    <main>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro corporis quibusdam molestiae hic dolores, labore veritatis? Reprehenderit animi laboriosam similique reiciendis! Veniam nam, laborum similique minima ipsum earum molestiae velit.</p>
    </main>
</section>

<section class="info-paso-03">
    <header>
        <h2>PASO 03</h2>
    </header>
    <main>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro corporis quibusdam molestiae hic dolores, labore veritatis? Reprehenderit animi laboriosam similique reiciendis! Veniam nam, laborum similique minima ipsum earum molestiae velit.</p>
    </main>
</section>

<div class="btn-empezar">
    <h1>¡Intentalo ahora!</h1>
    <button matTooltip="BOT" class="btn-chatbot" [routerLink]="['/chatbot']"></button>
</div>


