
/* You can add global styles to this file, and also import other style files */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #e2e2e2;
}

::-webkit-scrollbar-thumb {
    background-color: #6a6a6a; /* Color de la barra */
    border-radius: 10px; /* Esquinas redondeadas */
    transition: background-color 0.5s ease;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #b6b6b6; /* Color al pasar el mouse */
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background: linear-gradient(to bottom right, #49a5f0, #c095f5);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Roboto, sans-serif;
}
  
aside {
    transition: background-color 0.3s;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: #f0f4f8 !important; /* fondo claro */
}

