.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    width: 500px;
    height: 500px;
    background-color: rgb(240, 239, 239);
}

.body-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container h1 {
    font-size: 40px;
    margin-bottom: 50px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.inicio-btn button {
    font-size: 20px;
    background-color: rgb(0, 140, 255);
    border: none;
    padding: 10px;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s ease;
}

.inicio-btn button:hover {
    transform: scale(1.1);
}

.texto {
    margin-top: 20px;
    font-size: 15px;
}

.logo img {
    width: 300px;
    margin-bottom: 15px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
}