<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <header class="header" [class.menu-open]="isMenuOpen" [class.menu-closed]="!isMenuOpen">
    <button class="btn-open-menu" aria-label="Abrir/Cerrar menú" (click)="toggleMenu()">
      <mat-icon>{{ isMenuOpen ? 'menu_open' : 'menu' }}</mat-icon>
    </button>
    <h1 class="app-name">MASCOTAPP</h1>
  </header>
  
  <nav class="menu-lateral" *ngIf="isMenuOpen" role="navigation" aria-label="Menú lateral">
    <button class="btn-close-menu" (click)="toggleMenu()">Cerrar Menú</button>

    <div class="group-btn">
      <a [routerLink]="['/menu']" routerLinkActive="active">Inicio</a>
      <!-- <a [routerLink]="['/registrar-mascota']" routerLinkActive="active">Diagnósticos</a> -->
      <a routerLink="/perfil" routerLinkActive="active">Perfil</a>
    </div>
  </nav>

  <div class="page-wrapper">

    <div *ngIf="mascotaSeleccionada" class="info-mascota-card">
      <h3 class="nombre">Diagnostico para {{ mascotaSeleccionada.nombre }}</h3>
      <div class="detalle">
        <p><strong>Edad:</strong> {{ mascotaSeleccionada.edad }} años</p>
        <p><strong>Raza:</strong> {{ mascotaSeleccionada.raza }}</p>
        <p><strong>Peso:</strong> {{ mascotaSeleccionada.peso }} kg</p>
      </div>
    </div>

    <div class="header mat-elevation-z2">
      <div class="titulo-p">
        <h1>Diagnóstico de Mascota</h1>
      </div>
      <div class="titulo-s">
        <h2>Por favor ingresa el estado de la mascota respondiendo las siguientes preguntas</h2>
      </div>
    </div>
    <div class="diagnostico-container">
      <mat-card class="question-card animate-slide" *ngIf="!mostrarResumen">
        <mat-card-title>{{ questions[currentQuestionIndex] }}</mat-card-title>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Respuesta</mat-label>
          <input
            matInput
            [(ngModel)]="currentAnswer"
            placeholder="Escribe tu respuesta"
            [type]="getInputType(currentQuestionIndex)"
          />
        </mat-form-field>

        <div class="button-group">
          <button mat-raised-button color="primary" (click)="before()" [disabled]="isFirstQuestion()">Anterior</button>
          <button mat-raised-button color="accent" (click)="next()" [disabled]="isAnswerEmpty()" *ngIf="currentQuestionIndex < questions.length - 1">Siguiente</button>
          <button mat-raised-button color="warn" *ngIf="currentQuestionIndex === questions.length - 1 && !isAnswerEmpty()" (click)="mostrarResumenFinal()">Finalizar</button>
        </div>
      </mat-card>

      <!-- Resumen de respuestas -->
      <mat-card class="question-card animate-slide" *ngIf="mostrarResumen">
        <mat-card-title>📋 Revisión de tus respuestas</mat-card-title>
        <mat-card-content>
          <div *ngFor="let pregunta of questions; let i = index" class="resumen-item">
              <p><strong>{{ pregunta }}</strong></p>
              <p class="respuesta">👉 {{ answers[i] || 'Sin respuesta' }}</p>
            <mat-divider></mat-divider>
          </div>
        </mat-card-content>

        <div class="button-group mt-2">
          <button mat-stroked-button color="primary" (click)="editarRespuestas()">Editar respuestas</button>
          <button mat-raised-button color="accent" (click)="finishDiagnosis()">Confirmar y enviar</button>
        </div>
      </mat-card>
    </div>
  </div>
</body>
</html>
