body {
  font-family: 'Comic Sans MS', cursive, sans-serif;
}

.wa-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: none;
  width: 100%;
}

.wa-header {
  background: #075e54;
  padding: 14px;
  color: white;
  display: flex;
  align-items: center;
  height: 60px;
}

.wa-header-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.wa-title {
  font-size: 18px;
  font-weight: 500;
}

.wa-chat-window  {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-size: contain;
}

.msg-row {
  display: flex;
  align-items: flex-end;
  gap: 8px;
  max-width: 100%;
}

.avatar {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  margin-right: 8px;
}

.user .msg-row {
  flex-direction: row-reverse;
}

.user .avatar {
  margin-right: 0;
  margin-left: 8px;
}

.bubble {
  max-width: 75%;
  padding: 10px 14px;
  border-radius: 8px;
  white-space: pre-line;
}

.bot .bubble {
  max-width: 70%;
  align-self: flex-start;
  background: #dddddd;
  padding: 10px 14px;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  box-shadow: 0 1px 3px #0002;
}

.user .bubble {
  max-width: 70%;
  align-self: flex-end;
  background: #dcf8c6;
  padding: 10px 14px;
  border-radius: 10px;
  border-bottom-right-radius: 0;
  box-shadow: 0 1px 3px #0002;
}

.bubble-img {
  width: 160px;
  border-radius: 10px;
  margin-top: 5px;
}

.wa-input-bar {
  display: flex;
  align-items: center;
  background: #f0f0f0;
  padding: 12px;
  gap: 10px;
  border-top: 1px solid #ccc;
}

.wa-input-bar input {
  flex: 1;
  padding: 10px 14px;
  border-radius: 25px;
  border: 1px solid #ccc;
  outline: none;
}

.typing-bubble {
  width: 50px;
  height: 28px;
  background: white;
  border-radius: 20px;
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 4px;
  box-shadow: 0 1px 3px #0002;
}

.typing-bubble span {
  width: 6px;
  height: 6px;
  background: #888;
  border-radius: 50%;
  animation: typing 1.4s infinite;
}

.typing-bubble span:nth-child(2) { animation-delay: 0.2s; }
.typing-bubble span:nth-child(3) { animation-delay: 0.4s; }

@keyframes typing {
  0% { transform: translateY(0); opacity: .4; }
  50% { transform: translateY(-4px); opacity: 1; }
  100% { transform: translateY(0); opacity: .4; }
}
